# Environment variables use the following format:
# VARIABLE_NAME=value

# Defines the database connection URL
# For local development
DB_URL=jdbc:mysql://localhost:3306/[db_name]?allowPublicKeyRetrieval=true&useSSL=false

# For staging or production instance
# Example: Azure Database for MySQL
DB_URL=jdbc:mysql://[server-name].mysql.database.azure.com:3306/[db_name]?sslMode=REQUIRED

# Defines the username used to access the database
DB_USERNAME=your_user

# Defines the password used to access the database
DB_PASSWORD=your_user_password