@import "tailwindcss";

@theme {
  /* Color variables for Tailwind utilities */
  /* Primitives: change this in case of color palette changes */
  /* Brand */
  --color-brand-primary-50: #EEF6FC;
  --color-brand-primary-100: #D7EBF8;
  --color-brand-primary-200: #A0CDEB;
  --color-brand-primary-300: #64A5D7;
  --color-brand-primary-400: #3C82C3;
  --color-brand-primary-500: #1E5AA0;
  --color-brand-primary-600: #194882;
  --color-brand-primary-700: #143764;
  --color-brand-primary-800: #0F284B;
  --color-brand-primary-900: #0A192F;

  /* Accent */
  --color-accent-warning-100: #FFF0D2;
  --color-accent-warning-300: #FAC882;
  --color-accent-warning-400: #F5A54B;
  --color-accent-warning-500: #EB8228;
  --color-accent-warning-600: #D26414;
  --color-accent-warning-700: #B4500A;

  /* Status */
  --color-status-danger-100: #FFE1E1;
  --color-status-danger-400: #F05A5A;
  --color-status-danger-500: #DC3232;
  --color-status-danger-600: #BE1E1E;
  --color-status-success-100: #D2F5E1;
  --color-status-success-400: #3CBE78;
  --color-status-success-500: #1EA05A;
  --color-status-success-600: #148246;

  /* Neutral */
  --color-neutral-50: #F9FAFB;
  --color-neutral-100: #F3F4F6;
  --color-neutral-200: #E5E7EB;
  --color-neutral-300: #D1D5DB;
  --color-neutral-400: #9CA3AF;
  --color-neutral-500: #6B7280;
  --color-neutral-600: #4B5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1F2937;
  --color-neutral-900: #111827;
  --color-neutral-white: #FFFFFF;

  /* Aliases: do not change, only in cases when the style gets broken by changes on the color palette */
  /* Backgorund */
  --color-page: var(--color-neutral-50);
  --color-surface: var(--color-neutral-white);
  --color-hero: var(--color-brand-primary-900);
  --color-section-alt: var(--color-brand-primary-50);
  --color-card: var(--color-neutral-white);
  --color-footer: var(--color-neutral-900);
  
  /* Text */
  --color-primary: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-600);
  --color-on-dark: var(--color-neutral-white);
  --color-on-dark-muted: var(--color-neutral-300);
  --color-accent: var(--color-brand-primary-500);
  --color-link: var(--color-brand-primary-600);

  /* Interactive */
  --color-interactive-primary: var(--color-brand-primary-500);
  --color-interactive-primary-hover: var(--color-brand-primary-700);
  --color-interactive-cta: var(--color-accent-warning-500);
  --color-interactive-cta-hover: var(--color-accent-warning-600);

  /* Border */
  --color-border-default: var(--color-neutral-200);
  --color-border-subtle: var(--color-neutral-100);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
  background-color: rgba(13, 110, 253, 1);
  text-align: center;
  color: aliceblue;
}