@if (variant() === 'left') {
<article class="relative flex min-w-xs flex-col gap-4 rounded-2xl bg-card p-6 text-left">
    <div class="flex w-full items-start justify-between">
        <span class="text-2xl font-extrabold text-txt-secondary">{{ number() }}</span>
        @if (iconSrc()) {
        <span class="flex size-10 shrink-0 items-center justify-center rounded-full bg-accent-warning-100">
            <img [src]="iconSrc()" alt="" class="size-6" />
        </span>
        }
    </div>

    <div class="w-full">
        <h4 class="text-base font-bold text-txt-primary">
            {{ title() }}
        </h4>
    </div>

    <div class="w-full">
        <p class="text-sm font-normal leading-5 text-txt-secondary">
            {{ description() }}
        </p>
    </div>
</article>
} @else {
<article class="relative min-w-xs flex flex-col items-center justify-center gap-4 rounded-2xl bg-card p-6">
    <div class="flex size-8 shrink-0 items-center justify-center rounded-full bg-interactive-cta">
        <p testid="step-number" class="text-center text-sm font-bold text-white">
            {{ number() }}
        </p>
    </div>

    <div class="w-full">
        <h4 testid="step-title" class="text-center text-lg font-bold text-txt-primary">
            {{ title() }}
        </h4>
    </div>

    <div class="w-full">
        <p testid="step-description" class="text-center text-sm font-normal text-txt-secondary">
            {{ description() }}
        </p>
    </div>
</article>
}
